<h3>Log of Current Inventory</h3>
<ul class="products">
  {{#each products}}
    <li class="item">
      <p>{{id}}</p>
      <p>{{name}}</p>
      <p>{{price}}</p>
      <p>{{inventory}}</p>
      <br>
    </li>
  {{/each}}
</ul>