<h1>Add Product to Inventory</h1>

<form action="/products" method= "post">

  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="Enter the name of the item">
  <br>
  <label for="price">Price</label>
  <input type="text" id="price" name="price" placeholder="Enter the price for the item">
  <br>
  <label for="inventory">Inventory</label>
  <input type="text" id="inventory" name="inventory" placeholder="Enter how many items are being added to the inventory">
  <br>
  <input type="submit" value="send">
  <br>
</form>